---
// 若要设定需要一行显示多个卡片，则需加上 isMulti="true"
interface Props {
    isMulti: any
    customClass: string
}
// 从 isMulti 内容判断是否真的需要设置为一行多列
const { isMulti, customClass } = Astro.props
// 初始化卡片的显示状态为 block，最后留个空格给 customClass
let cardDisplay = 'block '
if (isMulti == 'true') {
    cardDisplay = 'inline-block '
}
---
<div class={ 'card rounded-lg px-5 py-3 my-2 mr-4 ' + cardDisplay + customClass }>
    <slot />
</div>

<style lang="less">
    @import url('@/styles/global.less');

    // 设定一般的卡片样式
    .card {
        background-color: @c-color-card-bg;
        border: 1px solid @c-color-card-border;
    }
    .card:hover {
        border: 1px solid @c-color-theme;
    }
    // 设定为 inline-display 时，需要重新设定宽度，防止"缩水”
    .card.inline-block {
        width: var(--c-card-width);
    }

    /* 响应式适配 ------- BEGIN */
    @media screen and (max-width: 1280px) { /* 移动端 */
        :root {
            --c-card-width: 96%;
        }
    }
    @media screen and (min-width: 1280px) { /* 桌面端 */
        :root {
            --c-card-width: 46%;
        }
    }
    /* 响应式适配 --------- END */
</style>