---
// 若要设定需要一行显示多个卡片，则需加上 isMulti="true"
interface Props {
    customClass: string
}
// 从 isMulti 内容判断是否真的需要设置为一行多列
const { customClass } = Astro.props
---
<div class={ 'card rounded-lg px-5 py-3 my-2 mr-4 inline-block '  + customClass }>
    <slot />
</div>

<style lang="less">
    @import url('@/styles/global.less');

    // 设定一般的卡片样式
    .card {
        background-color: @c-color-card-bg;
        border: 1px solid @c-color-card-border;
        transition: border .3s, box-shadow .3s;
        width: var(--c-card-width);
    }
    .card:hover {
        border: 1px solid @c-color-theme;
        box-shadow: 0 0 4px @c-color-theme;
        transition: border .3s, box-shadow .3s;
    }
    // 此处提供一个 w-full 用于覆盖 Tailwind 的 w-full
    // 因为当操作 Card 组件时需要算上右侧的 8px 外边距，否则不对齐
    .card.w-full {
        width: calc(100% - 8px);
    }

    /* 响应式适配 ------- BEGIN */
    @media screen and (max-width: 1280px) { /* 移动端 */
        :root {
            --c-card-width: calc(100% - 1.5rem);
        }
    }
    @media screen and (min-width: 1280px) { /* 桌面端 */
        :root {
            --c-card-width: calc(50% - 1.15rem);
        }
    }
    /* 响应式适配 --------- END */
</style>