---
interface Props {
    username: string
}
const { username } = Astro.props
import Card from './Card.astro'
---

                              <!-- 此处见第 40 行 -->
<Card isMulti="false" customClass="gh-chart-card">
    
        <!-- 图片本体 -->
        <div class="img-placeholder py-2 hidden m-auto" id="gh-chart">
            <img src={"https://ghchart.rshah.org/f59f17/" + username}
                 alt="crrashh1542's GitHub chart"
                 class="m-auto" id="gh-chart-img" />
        </div>

        <!-- 加载动画，移植自 MDUI v1 -->
        <!-- Copyright (C) 2016-2021 zdhxiong | Licensed under MIT -->
        <div class="spinner-placeholder py-2 relative" id="gh-spinner">
            <div class="mdui-spinner absolute">
                <div class="mdui-spinner-layer">
                    <div class="mdui-spinner-circle-clipper mdui-spinner-left">
                        <div class="mdui-spinner-circle"></div>
                    </div>
                    <div class="mdui-spinner-gap-patch">
                        <div class="mdui-spinner-circle"></div>
                    </div>
                    <div class="mdui-spinner-circle-clipper mdui-spinner-right">
                        <div class="mdui-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Card>

<style is:global>
    /* 经测试，页面宽度 740px 是 img 占满 card 的临界点 */
    .gh-chart-card {
        overflow-x: var(--ch-ghchart-overflow);
    }
    @media screen and (max-width: 740px) {
        :root { --ch-ghchart-overflow: scroll; }
    }
    @media screen and (min-width: 740px) {
        :root { --ch-ghchart-overflow: hidden; }
    }
</style>

<style lang="less">
    @import url("@/styles/global.less");

    // 使得 ghChart 图像在移动端场景下可被拖动
    .card {
        overflow-x: hidden;
    }
    // 经过测定，该 API 返回的 svg 宽度为 603px，高度为 102px
    img {
        width: 603px;
        height: 102px;
    }
    .img-placeholder {
        width: 603px; // 当且仅当 img-placeholder 为 603px 时，img 宽度才正确
        height: 118px; // 102+2*2*4
    }
    .spinner-placeholder {
        width: 100%; // 该 placeholder 需要让 spinner 位于页面中心，故必须设定为 100%
        height: 118px; // 102+2*2*4
    }

    // 以下内容为加载动画，移植自 MDUI v1
    // Copyright (C) 2016-2021 zdhxiong | Licensed under MIT
    @animation-curve-default: cubic-bezier(0.4, 0, 0.2, 1);
    .mdui-spinner {
        top: calc((102px + 2*2*4px - 36px) / 2);
        left: calc((100% - 36px) / 2);
        width: 36px;
        height: 36px;
        animation: mdui-spinner 1568ms linear infinite;
    }
    @keyframes mdui-spinner {
        to {
            transform: rotate(360deg);
        }
    }
    .mdui-spinner-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        border-color: darken(@c-color-theme, 10%);
        opacity: 0;
        opacity: 1;
        animation: mdui-spinner-layer-fill-unfill-rotate 5332ms
            @animation-curve-default infinite both;
    }

    @keyframes mdui-spinner-layer-fill-unfill-rotate {
        12.5% { transform: rotate(135deg);  }
        25%   { transform: rotate(270deg);  }
        37.5% { transform: rotate(405deg);  }
        50%   { transform: rotate(540deg);  }
        62.5% { transform: rotate(675deg);  }
        75%   { transform: rotate(810deg);  }
        87.5% { transform: rotate(945deg);  }
        to    { transform: rotate(1080deg); }
    }
    .mdui-spinner-gap-patch {
        position: absolute;
        top: 0;
        left: 45%;
        width: 10%;
        height: 100%;
        overflow: hidden;
        border-color: inherit;
        .mdui-spinner-circle {
            left: -450%;
            box-sizing: border-box;
            width: 1000%;
        }
    }
    .mdui-spinner-circle-clipper {
        position: relative;
        display: inline-block;
        width: 50%;
        height: 100%;
        overflow: hidden;
        border-color: inherit;
        .mdui-spinner-circle {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            box-sizing: border-box;
            width: 200%;
            height: 100%;
            border-color: inherit;
            border-style: solid;
            border-width: 3.5px;
            border-bottom-color: transparent !important;
            border-radius: 50%;
            animation: none;
        }
        &.mdui-spinner-left {
            float: left;
            .mdui-spinner-circle {
            left: 0;
            border-right-color: transparent !important;
            transform: rotate(129deg);
            animation: mdui-spinner-left-spin 1333ms @animation-curve-default infinite both;
            }
        }
        &.mdui-spinner-right {
            float: right;
            .mdui-spinner-circle {
            left: -100%;
            border-left-color: transparent !important;
            transform: rotate(-129deg);
            animation: mdui-spinner-right-spin 1333ms @animation-curve-default infinite both;
            }
        }
    }
    @keyframes mdui-spinner-left-spin {
        from { transform: rotate(130deg); }
        50%  { transform: rotate(-5deg);  }
        to   { transform: rotate(130deg); }
    }
    @keyframes mdui-spinner-right-spin {
        from { transform: rotate(-130deg); }
        50%  { transform: rotate(5deg);    }
        to   { transform: rotate(-130deg); }
    }
</style>

<script>
    // 当 img 加载成功时为 display 为 block（即加上 block 类名），spinner 为 none（类名 hidden）
    const [ghChart, ghChartImg, ghSpinner] = 
        [document.getElementById('gh-chart'), document.getElementById('gh-chart-img'),
         document.getElementById('gh-spinner')]
    // 判断是否加载完成
    ghChartImg.onload = () => {
        // 显示 gh-chart 的 placeholder
        ghChart.classList.remove('hidden')
        ghChart.classList.add('block')
        // 隐藏 gh-spinner 的 placeholder
        ghSpinner.classList.add('hidden')
    }
</script>