---
interface Props {
    to: customObject[]
}

import Card from './Card.astro'
const { to } = Astro.props
---

<div class="links">
    { to.map(item => (
        <Card>
            <a href={ item.href } target="_blank" class="block">
                <div class="title text-lg font-semibold">{ item.title }</div>
                <div class="description text-base break-all">{ item.description }</div>
            </a>
        </Card>
    )) }
</div>

<style lang="less">
    .links {
        .title { line-height: 42px; }
        .description { height: calc(2.5 * 24px); }
    }
</style>