---
// 导入数据 & 布局
import 'normalize.css/normalize.css'
import config from '~/config'
import Layout from '@/layouts/Layout.astro'

// 导入组件
import Appbar from '@/components/Appbar.astro'
import Banner from '@/components/Banner.astro'
import Catalog from '@/components/Catalog.astro'
import Footer from '@/components/Footer.astro'
import DataTransfer from '@/components/DataTransfer.astro'

// 引入页面模块
import Links from '@/components/main/Links.astro'
import GhChart from '@/components/main/GhChart.astro'
import Properties from '@/components/main/Properties.astro'

// 设置组件展示展示默认值
const [isGhChartEnabled, isLinksEnabled, isPropertiesEnabled] = 
	[config.components.ghChart.isEnabled === true || config.components.ghChart.isEnabled === undefined,
	 config.components.links.isEnabled === true || config.components.links.isEnabled === undefined,
	 config.components.properties.isEnabled === true || config.components.properties.isEnabled === undefined
	]
---

<Layout title={ config.site.name + config.site.suffix } description={ config.site.seoDescription }>
	<!-- Part 1 顶栏 -->
	<Appbar title={ config.site.name } nav={ config.nav } />

	<!-- Part 2 主体  -->
	<main>
		<Banner info={ config.site } social={ config.social } />

		<!-- 组件1 GitHub Chart -->
		{ isGhChartEnabled && 
			<div class="component-wrapper">
				<Catalog>{ config.components.ghChart.title }</Catalog>
				<GhChart username={ config.components.ghChart.username }></GhChart>
			</div>
		}

		<!-- 组件2 个人链接 -->
		{ isLinksEnabled &&
			<div class="component-wrapper">
				<Catalog>{ config.components.links.title }</Catalog>
				<Links to={ config.components.links.to } />
			</div>
		}

		<!-- 组件3 个人属性 -->
		{ isPropertiesEnabled &&
			<div class="component-wrapper">
				<Catalog>{ config.components.properties.title }</Catalog>
				<Properties content={ config.components.properties.content } />
			</div>
		}

		<div class="component-wrapper">
			<Catalog>Coming up...</Catalog>
			<br /><br /><br />
			<h2 class="text-center font-semibold text-3xl">更多组件正在开发</h2>
			<br />
			<p class="text-center">永远相信美好的事情即将发生</p>
			<br /><br /><br />
		</div>
	</main>

	<!-- Part 3 页脚 -->
	<Footer content={ config.footer } />

	<!-- Part 4 数据传递 -->
	<!-- 此部分内容用于 Frontmatter 与页面 JS/TS 进行通信 -->
	<DataTransfer />
</Layout>

<style is:global lang="less">
	@import url('@/styles/global.less');

	// 基础样式
	body {
		font-family: @c-font-family;
	}
	main {
		padding: 0 var(--main-padding-horiziontal);

		.component-wrapper {
			margin-top: 1.8rem;
		}
	}

	// 响应式适配 ---- PC
	@media screen and (min-width: 1024px) {
		body {
			--main-padding-horiziontal: @c-layout-banner-padding;
		}
	}

	// 响应式适配 ---- 移动端
	@media screen and (max-width: 1024px) {
		body {
			--main-padding-horiziontal: 2em;
		}
	}
</style>
