/**
 * config.less 是咕咕主页的主题和样式配置文件
 * 按照注释上对变量的解释，试着改改看吧！(`ヮ´ )
 */

// 主题色
@ch-color-theme: #fcea78;
// 偏移的主题色，用于标题渐变等
@ch-color-theme-offset: spin(saturate(@c-color-theme, 10%), -18); // 在色环顺时针偏转主题色 18°

// 字体
@ch-font-family: 'Inter', '微软雅黑';