<div class="catalog text-2xl font-medium relative pl-5 mb-4">
   <slot />
</div>

<style lang="less">
   @import url("@/styles/global.less");

   .catalog::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 8px;
      border-radius: 3px;
      background-color: @c-color-theme;
   }
</style>
